<RadzenCard Class="mb-4">
    <RadzenImage Path="https://s3.eu-west-2.amazonaws.com/cdn.agriland.co.uk/uploads/2019/08/Pigs-in-muck-shutterstock-800x400.jpg" Style="width: 811px; height: 244px" ></RadzenImage>
    <RadzenImage Path="https://icons.iconarchive.com/icons/iconarchive/incognito-animal-2/256/Pig-icon.png" Style="width: 142px; height: 117px; float: none; visibility: visible; margin: 50px; margin-top: -50px; margin-left: 350px; display: block"/>
    <h5>@CreatorName</h5>
    <p>@CreatorTagline</p>
</RadzenCard>
@code {
    
    private string CreatorName = "John Doe";
    private string CreatorTagline = "Creating awesome content for you!";
}