@page "/create-post"
@attribute [Authorize]

<PageTitle>CreatePost</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Create Post" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </RadzenColumn>

    <RadzenColumn Size="12">
        <RadzenCard>
            <RadzenTextBox class="w-100" Placeholder="Post Title"></RadzenTextBox>
            <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
            <RadzenHtmlEditor Style="height: 300px"></RadzenHtmlEditor>

            <div class="mt-3">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Upload images only</RadzenText>
                    <RadzenUpload Multiple="true" Accept="image/*" Url="upload/multiple" />
                </RadzenCard>
            </div>
            
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn Size="12">
        <RadzenCard Style="position: relative">
            <RadzenBadge Style="font-size: 16px; padding: 6px; position: absolute; right: 8px; top: 8px" BadgeStyle="BadgeStyle.Secondary">PREVIEW</RadzenBadge>
            <RadzenText Text="Very interesting post title" TextStyle="TextStyle.H4" TagName="TagName.H1" />
            <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
            <RadzenHtml>
                <h1>Placeholder Title</h1>
                <p>This is a placeholder paragraph. Replace this text with your content.</p>
                <div>
                    <h2>Section Title</h2>
                    <p>More placeholder content goes here.</p>
                </div>
            </RadzenHtml>
            <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
            <RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal" Class="image-grid" Wrap="FlexWrap.Wrap" Gap="0">
                    <RadzenImage Class="post-image" />
                    <RadzenImage class="post-image" />
                    <RadzenImage class="post-image" />
                    <RadzenImage class="post-image" />
                    <RadzenImage class="post-image" />
                    <RadzenImage class="post-image" />
                </RadzenStack>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn Size="12">
        <RadzenButton class="w-100" ButtonStyle="Radzen.ButtonStyle.Info">Preview</RadzenButton>
    </RadzenColumn>

    <RadzenColumn Size="12">
        <RadzenButton class="w-100" ButtonStyle="Radzen.ButtonStyle.Success" Style="background-color: #58a45b">Publish</RadzenButton>
    </RadzenColumn>

</RadzenRow>
