@page "/feed"

@attribute [Authorize]

<PageTitle>Feed</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenStack Style="background-color: #eee6e6; color: f2eeee Hex 242 R 238 G; padding: 20px; border-radius: 10px">
            <RadzenCard Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Style="background-color: rgba(225, 225, 225, 0)">
                    
                    <RadzenImage class="profile-image" Path="https://img.freepik.com/free-photo/handsome-bearded-guy-posing-against-white-wall_273609-20597.jpg?t=st=1716472097~exp=1716475697~hmac=f23aa707818b77aad241567ecf19ebb18d9a964315e01f92210ffb8c630133b9&w=996" Style="width: 70px; border-radius: 50%; height: 70px"></RadzenImage>
                   
                    <RadzenStack Gap=5 Style="margin-right: 15px" JustifyContent="JustifyContent.SpaceEvenly">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex  rz-my-0" Style="font-size: 14px">Anton Ptushkin</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" Style="font-size: 20px"><b>Anton_pt</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>

            </RadzenCard>

            <RadzenCard Style="position: relative">
                <RadzenText Text="Very interesting post title" TextStyle="TextStyle.H4" TagName="TagName.H1" />
                <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
                <RadzenHtml>
                    <h1>Placeholder Title</h1>
                    <p>This is a placeholder paragraph. Replace this text with your content.</p>
                    <div>
                        <h2>Section Title</h2>
                        <p>More placeholder content goes here.</p>
                    </div>
                </RadzenHtml>
                <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
                <RadzenRow>
                    <RadzenStack Orientation="Orientation.Horizontal" Class="image-grid" Wrap="FlexWrap.Wrap" Gap="0">
                        <RadzenImage Class="post-image" />
                        <RadzenImage class="post-image" />
                        <RadzenImage class="post-image" />
                        <RadzenImage class="post-image" />
                        <RadzenImage class="post-image" />
                        <RadzenImage class="post-image" />
                    </RadzenStack>
                </RadzenRow>
            </RadzenCard>



        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
