.profile-image {
    object-fit: cover;
}

.image-grid {
    width: 100%; 
    grid-gap: 20px;
}

.image-grid .post-image {
        width: calc(25% - 15px); 
        padding-bottom: calc(25% - 15px)
}